<h2>User: <%= @user.name %></h2>

  <ul>
    <% @user.teams.each do |team| %>
        <li>
	        <%= link_to team.title, team_url(team.id) %>
	      </li>
	  <% end %>

  </ul>

  <%= link_to "Edit User", edit_user_url(@user.id) %>
